<div class="chip" [ngClass]="{
  'chip-orange': verifyGenreType(genres.ADVENTURE),
  'chip-yellow': verifyGenreType(genres.ACTION),
  'chip-blue':   verifyGenreType(genres.SCIFI),
  'chip-purple': verifyGenreType(genres.DRAMA),
  'chip-tomato': verifyGenreType(genres.COMEDY),
  'chip-red': verifyGenreType(genres.CRIME),
  'chip-grey': verifyGenreType(genres.THRILLER)
}">
  <span class="chip-text">{{genre}}</span>
</div>
