@import '../../../../src/assets/sass/colors';
@import '../../../../src/assets/sass/mixins/layout';
$margin-top-offset: -250;

%container-border {
  border: 3px solid $gray-6;
  border-radius: 3px;
}

#custom-theme {
  :host {
    // TODO: move it inside a component
    .search-area {
      @include block;
      form {
        input, .ui-autocomplete-input {
          color: $black;
        }
      }
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .user-profile-container {
      @include block;
      background-color: $blue-4;
      .left-container {
        @extend %container-border;
        margin-top: #{$margin-top-offset}px;
        height: 600px;
        background-color: $blue-4;
        &-section {
          flex-basis: 100%;
          flex-grow: 1;
          border-top: 2px solid $gray-6;
          padding: 10px 0 10px;
          .section-item {
            font-size: 0.8em;
            font-weight: 600;
            flex-basis: 100%;
            color: $white;
            font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
            flex-grow: 1;
            display: block;
            text-decoration: none;
            padding: 5px;
            &:not(.section-title) {
              text-transform: uppercase;
            }
          }
          .active-section-item {
            color: $yellow-2;
          }
        }
        .left-container-avatar-container {
          flex-grow: 1;
          width: 50%;
          padding: 20px 0;
          &-avatar {
            flex-basis: 100%;
            flex-grow: 1;
            margin: 0 auto 10px;
            border-radius: 100%;
            overflow: hidden;
          }
          @include red-btn;
          .ui-button {
            border-radius: 3px;
            font-size: 0.8em;
          }
        }
      }

      .right-container {
        background-color: $blue-9;
        padding: 20px;
        @extend %container-border;
      }

      .form-section-title {
        padding: 0 20px;
      }
    }

    form {
      input {
        color: $black;
      } 
    }
  }
}
