<p-dialog [appendTo]="'body'" (onHide)="onHide($event)" [closeOnEscape]="true" [dismissableMask]="true" [closable]="true" [header]="header" [styleClass]="'auth-modal'" [(visible)]="visible" [modal]="true" [responsive]="true" [responsive]="true">
  <p-header>
    <h1>Login</h1>
  </p-header>
  <form class="user-authentication-form" [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <div class="ui-float-label">
        <input pInputText="" type="email" id="email" formControlName="email"/>
        <label for="email">Email: </label>
        <span class="error-message"  *ngIf="form.controls['email'].hasError('required')&&form.controls['email'].touched">
          Email field is required
        </span>
        <span class="error-message" *ngIf="form.controls['email'].hasError('email')&&form.controls['email'].touched">
          <i class="fa fa-close"></i>
          Incorrect email format
        </span>
      </div>
    </div>
    <div class="form-group">
      <div class="ui-float-label">
        <input pInputText="" type="password" id="password" formControlName="password"/>
        <label for="password">Password: </label>
        <span class="error-message" *ngIf="form.controls['password'].hasError('required')&&form.controls['password'].touched">
            Password field is required
        </span>
      </div>
    </div>
    <div class="form-group">
        <div class="error-message login-message " *ngIf="loginFailed">
          Login failed
        </div>
    </div>
    <button type="submit" style="display: none;" #submitBtn></button>
  </form>
  <p-footer>
    <button pButton type="button" label="Login" (click)="submitBtn.click()" class="ui-button-raised"></button>
  </p-footer>
</p-dialog>
