@import '../_colors.scss';

@mixin block {
  padding: 80px 180px;
  position: relative;
  z-index: 2;
}

@mixin responsive-img {
  display: block;
  max-width: 100%;
  height: auto;
}

@mixin backlight {
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 1;
}

@mixin full-page-background {
  background: url('https://babbletop.com/wp-content/uploads/2018/05/years-for-movies.jpg');
  background-position: cover;
  background-size: contain;
}


@mixin movie-card {
  .movie-card-details {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 5;
    top: 70%;
    background-color: black;
    padding: 3px;
    %text-styling {
      text-transform: uppercase;
      font-weight: 600;
      flex-basis: 80%;
      font-size: 0.725rem;
      margin-bottom: 10px;
    }
    .movie-title {
      @extend %text-styling;
    }

    .movie-rating {
      @extend  %text-styling;
      i {
        color: $yellow-1;
      }
    }
  }

  .movie-card-hover {
    position: absolute;
    z-index: 6;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: none;
    opacity: 0;
    a {
      text-decoration: none;
      display: block;
      color: $white;
      > button {
        background: $red-2;
        border: none;
        padding: 5px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        border-radius: 10px;
      }
    }
  }

  &:hover {
    .movie-card-hover {
      transition: all 3s ease;
      display: flex;
      @include backlight;
    }
  }
}


@mixin red-btn {
  .ui-button {
    width: 100%;
    background-color: $red-2;
    color: $white;
    border: none;
    height: 42px;
    outline: none;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
}

@mixin green-btn {
  .ui-button {
    width: 100%;
    background-color: $yellow-3;
    color: $white;
    border: none;
    height: 42px;
    outline: none;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
}

@mixin main_page_carousel_controls {
  .ui-carousel-page-links {
    .pi-circle {
      &-on {
        color: $yellow-2;
      }

      &-off {
        color: $white;
      }
    }
  }
}
