@import '../fonts';

@mixin iframe_yt {
  .video-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    &:first-child {
      margin-left: 0;
    }
    .video-iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
}

@mixin portrait {
  width: 60px;
  height: 60px;
}

@mixin title {
  font-family: 'Maven Pro', sans-serif;
}
