@import '../colors';
@import 'layout';

@mixin single-page-container {
    .single-page-container {
      @include block;
      background-color: $blue-4;
    }

  figure {
    margin: 0;
  }
}

@mixin subcategory {
  .subcategory {
    padding-top: 10px;
    &-title {
      color: $blue-8;
    }
    &-list {
      &-title {
        border-bottom: 3px solid $blue-6;
        padding-bottom: 7px;
      }
      &-items {
        > li {
          margin-right: 20px;
          flex-basis: 25%;
          .video-container-details {
            color: $blue-6;
            font-size: 1rem;
          }
          .video-container-duration {
            color: $white;
            font-size: 0.800rem;
          }
        }
      }

      &-images {
        display: block;
        li {
          display: inline-block;
          width: 200px;
          height: 200px;
          margin-right: 20px;
        }
      }
    }
  }
}

