<div class="page-wrapper" id="custom-theme">
  <app-header></app-header>
   <router-outlet></router-outlet>
  <!-- move modals here -->
   <router-outlet name="modal"></router-outlet>
   <app-footer></app-footer>
</div>
