<p-dialog [appendTo]="'body'" (onHide)="onHide($event)" [closeOnEscape]="true" [dismissableMask]="true" [closable]="true" [header]="header" [styleClass]="'auth-modal'" [(visible)]="visible" [modal]="true" [responsive]="true" [width]="400" [height]="550">
  <p-header>
    <h1>Review</h1>
  </p-header>
  <form class="review-form" [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <div class="ui-float-label">
        <input pInputText="" type="text" id="title" formControlName="title"/>
        <label for="title">Title: </label>
        <span class="error-message" *ngIf="form.controls['title'].hasError('required') && form.controls['title'].touched">
          Title field is required
        </span>
      </div>
    </div>
    <div class="form-group">
      <div class="ui-float-label">
        <textarea style="width: 100%;" rows="5" type="review" id="review" formControlName="review"></textarea>
        <label for="review">Review: </label>
        <span class="error-message" *ngIf="form.controls['review'].hasError('required') && form.controls['review'].touched">
          Review field is required
        </span >
      </div>
    </div>
    <button type="submit" style="display: none;" #submitBtn></button>
  </form>
  <p-footer>
    <button pButton type="button"
            [disabled]="form.invalid"
            label="Submit"
            (click)="submitBtn.click()"
            class="ui-button-raised">
    </button>
  </p-footer>
</p-dialog>
