@import '../colors';

.auth-modal {
  top: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 35%;
  min-height: 80%;
  .ui-dialog-content {
    flex-grow: 1;
    padding: 0;
  }
  .ui-dialog-titlebar {
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
  }
  .ui-dialog-titlebar-close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 40px;
  }
  form {
    width: 100%;
    font-weight: bolder;
    .form-group {
      margin: 1.5em 0;
    }
    .ui-float-label {
      width: 80%;
      margin: 0 auto;
      display: block;
      input {
        width: 100%;
        margin-top: 10px;
        border: 1px solid $gray-4;
        display: flex;
        height: 42px;
        font-size: 14px;
        padding-left: 20px;
      }
    }
  }
  .ui-dialog-footer {
    padding: 0;
    p-footer {
      display:flex;
      justify-content: center;
      width: 80%;
      margin: 0 auto;
      @include red_btn;
    }
  }
}
