@import '../../../assets/sass/colors';
:host {
    width: 100%;
}
.form-container {
    display: flex;
    justify-content: center;
   .search-input {
     flex-grow: 1; 
     padding: 15px;
     color: $white;
     margin: 0;
     background-color: $blue-7;
     border: none;
     border-radius: 5px;
     display: inline-block;
     vertical-align: middle;
     position: relative;
     margin-left: 2px;
     &::placeholder {
         color: $white;
     }
   }
 }


