<header class="main-header" appAbsoluteNavigation>
  <div class="ui-g">
    <div class="header-container ui-g-12">
      <div class="header-items ui-g ui-fluid flex-align-center">
        <div class="ui-g-12 flex-container flex-align-center no-padding">
          <h1 class="site-title">Cinemate</h1>
          <p-menubar [model]="items" [styleClass]="'main-nav'">
            <div *ngIf="!isLoggedIn">
              <ul class="ui-menubar-root-list">
                <li class="ui-menuitem ui-corner-all ui-menu-parent">
                  <app-user-authentication (onModalClose)="visible=false" [visible]="visible"></app-user-authentication>
                  <a class="ui-menuitem-link ui-corner-all" (click)="onSignupClick($event, 'signup')">
                    <span class="ui-menuitem-text">Sign Up</span>
                  </a>
                </li>
                <li class="ui-menuitem ui-corner-all ui-menu-parent">
                  <app-user-login (onModalClose)="loginVisible=false" [visible]="loginVisible"></app-user-login>
                  <a class="ui-menuitem-link ui-corner-all" (click)="onSignupClick($event, 'login')">
                    <span class="ui-menuitem-text">Login</span>
                  </a>
                </li>
              </ul>
            </div>
            <div *ngIf="isLoggedIn">
              <ul class="ui-menubar-root-list">
                <li class="ui-menuitem ui-corner-all ui-menu-parent">
                  <a [routerLink]="['user', 'profile']" class="ui-menuitem-link ui-corner-all">
                    <span class="ui-menuitem-text username">{{username}}</span>
                  </a>
                </li>
                <li class="ui-menuitem ui-corner-all ui-menu-parent">
                  <a class="ui-menuitem-link ui-corner-all logout-btn">
                      <span (click)="onLogoutClick()" class="ui-menuitem-text">Logout</span>
                  </a>
                </li>
              </ul>
            </div>
          </p-menubar>
        </div>
      </div>
    </div>
  </div>
</header>
