@import '../../assets/sass/colors';

:host {
    /deep/ {
        .logout-btn {
            cursor: pointer;
            color: $red-2 !important;
        }
    
        .username {
            color: $yellow-3 !important;
        }
    }
}
