<div [ngClass]="styleClass">
  <ng-container *ngFor="let item of listItems">
    <ng-container *ngTemplateOutlet="listTemplate; context: {$implicit: item}">
    </ng-container>
  </ng-container>
  <ng-container *ngFor="let item of stringItems">
    <ng-container *ngTemplateOutlet="stringTemplate; context: {$implicit: item}">
    </ng-container>
  </ng-container>
  <ng-container *ngFor="let item of keywordItems">
    <ng-container *ngTemplateOutlet="keywordTemplate; context: {$implicit: item}">
    </ng-container>
  </ng-container>
  <ng-container *ngFor="let item of dateItems">
    <ng-container *ngTemplateOutlet="dateTemplate; context: {$implicit: item}"></ng-container>
  </ng-container>
</div>
