@import '../../../assets/sass/colors';

.link {
  min-width: 100px;
  display: flex;
  padding: 10px 10px 10px 0;
  align-items: center;
  font-size: 12px;
  a {
    text-decoration: none;
    border: 2px solid $red-2;
    color: $red-2;
    width: 30px;
    height: 30px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    display: flex;
    i {
      display: inline;
    }
  }

  span {
    display: flex;
    align-items: center;
    height: 50px;
    color: $red-2;
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8em;
  }
}
