<div class="ui-g main-wrapper" id="celebrity-container">
  <div class="image-layer"></div>
  <div class="ui-g-12 search-area flex-container flex-wrap justify-content-center" [attr.data-background]="celebrity?.backgroundImg">
    <h1 class="title full-width-flex-item text-center"><span>{{celebrity?.fullName}}</span> - <small class="uppercase">{{celebrity?.job}}</small></h1>
    <app-main-search></app-main-search>
  </div>
  <div class="ui-g-12 ui-g single-movie-container">
    <div class="left-container ui-g-2">
      <figure>
        <div class="poster">
          <img [src]="celebrity?.posterPath" [alt]="celebrity?.fullName" class="responsive-img">
        </div>
      </figure>
    </div>
    <div class="right-container ui-g-10 no-padding">
      <app-social-network [socialNetworkItems]="socialNetworkItems"></app-social-network>
      <div class="no-padding ui-g-12">
        <p-tabView [styleClass]="'single-item-panel'">
            <p-tabPanel header="Overview">
              <div class="ui-g-10 ui-sm-12 no-padding movie-details">
                <p>{{celebrity?.description}}</p>
                <div class="category">
                  <div class="title flex-container space-between flex-wrap">
                    <h3>Photos</h3>
                    <div class="ui-g-12 no-padding media-container flex-container full-width-flex-item">
                      <!--<div class="subcategory-container-image" *ngFor="let img of celebrity?.media?.images">-->
                        <!--<img [src]="img?.path" class="responsive-img"/>-->
                      <!--</div>-->
                      <div class="ui-g-12 no-padding media-container flex-container full-width-flex-item">
                        <p-lightbox type="image" effectDuration="200ms" easing="ease-in" appendTo="body" styleClass="lightbox-container" [images]="celebrity.lightboxImages"></p-lightbox>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="category">
                  <div class="title flex-container space-between">
                    <h3>Filmography</h3>
                    <a class="flex-container flex-align-center" href="#">Full Filmography&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
                  </div>
                  <ul class="overview-list">
                    <li *ngFor="let character of celebrity?.filmography" style="padding-bottom: 10px;" class="flex-container space-between">
                      <div class="real-person flex-container flex-align-center">
                        <div class="portrait" style="margin: 10px 0; padding-right: 10px;">
                          <img [src]="character?.characterImg" class="responsive-img"/>
                        </div>
                        <div class="character-info flex-container flex-wrap">
                          <span class="movie-name full-width-flex-item">{{character?.movieName}}</span>
                          <span class="character-name full-width-flex-item">{{character?.characterName}}</span>
                        </div>
                      </div>
                      <div class="character flex-container flex-align-center">
                        <span class="year">...{{character?.year}}</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="ui-g-2 ui-sm-12 no-padding aside-movie-details">
                <app-aside-details styleClass="movie-crew" [items]="celebrity.asideDetails">
                  <ng-template #list let-item>
                    <div class="movie-crew-item">
                      <h3>{{item.entityName}}</h3>
                      <p *ngIf="item.url; else noLink">
                        <ng-container *ngFor="let i of item.data">
                          <a class="movie-crew-item__link" [routerLink]="[i.url]" *ngIf="i.url; else subItem">
                            <span>{{i.itemValue}}</span>
                          </a>
                          <ng-template #subItem>
                            <span>{{i.data}}</span>
                          </ng-template>
                        </ng-container>
                      </p>
                      <ng-template #noLink>
                        <p>
                          <span *ngFor="let i of item.data">{{i}}</span>
                        </p>
                      </ng-template>
                    </div>
                  </ng-template>
                  <ng-template #date let-item>
                    <div class="movie-crew-item">
                      <h3>{{item.entityName}}</h3>
                      <p>{{item.data | date: 'mediumDate'}}</p>
                    </div>
                  </ng-template>
                  <ng-template #string let-item>
                    <div class="movie-crew-item">
                      <h3>{{item.entityName}}</h3>
                      <a [routerLink]="[item.url]" class="no-text-decoration" *ngIf="item.url;else noLink">
                        <p>{{item.data}}</p>
                      </a>
                      <ng-template #noLink>
                        <p>{{item.data}}</p>
                      </ng-template>
                    </div>
                  </ng-template>
                  <ng-template #keyword let-item>
                    <div class="movie-crew-item">
                      <h3>{{item.entityName}}</h3>
                      <p>{{item.data}}</p>
                    </div>
                  </ng-template>
                </app-aside-details>
              </div>
            </p-tabPanel>
            <p-tabPanel header="Biography">
              <div class="ui-g-12 aside-movie-reviews no-padding">
                <div class="tab-item-title flex-container space-between flex-align-center">
                  <div class="tab-item-title">
                    <p>Biography of</p>
                    <h2>{{celebrity.fullName}}</h2>
                  </div>
                </div>
                <p>
                  {{celebrity.biography}}
                </p>
              </div>
            </p-tabPanel>
            <p-tabPanel header="Media">
              <div class="ui-g-12 no-padding movie-media">
                <div class="movie-media-title">
                  <p>Photos of</p>
                  <h2>{{celebrity.fullName}}</h2>
                </div>
                <div class="movie-media-list">
                  <div class="movie-media-list-title">
                    Photos
                  </div>
                  <ul class="movie-media-list-images">
                    <li *ngFor="let image of celebrity.images">
                      <img [src]="image"/>
                    </li>
                  </ul>
                </div>
              </div>
            </p-tabPanel>
            <p-tabPanel header="Filmography">
              <div class="ui-g-12 aside-movie-reviews no-padding">
                <div class="ui-g-12 tab-item-title no-padding">
                    <div class="tab-item-title-container">
                      <p>Filmography of</p>
                      <h2>{{celebrity.fullName}}</h2>
                    </div>
                </div>
                <div class="tab-item-list">
                  <p-dataView styleClass="data-view" [value]="celebrity.filmography" [paginator]="true" [rows]="3" paginatorPosition="bottom">
                    <p-header>
                      <div class="data-view-header-container">
                      </div>
                    </p-header>
                    <ng-template let-movie pTemplate="listItem">
                      <div class="category" style="padding-bottom: 10px; overflow:hidden">
                        <div class="overview-list flex-container space-between flex-align-center">
                            <div class="real-person flex-container flex-align-center">
                              <div style="width: 80px; height: 80px; margin: 10px 0; padding-right: 10px;">
                                <img [src]="movie.characterImg" class="responsive-img"/>
                              </div>
                              <div class="character-info flex-container flex-wrap">
                                <span class="movie-name full-width-flex-item">{{movie?.movieName}}</span>
                                <span class="character-name full-width-flex-item">{{movie?.characterName}}</span>
                              </div>
                            </div>
                            <div class="character flex-container flex-align-center">
                              <span class="year">...{{movie?.year}}</span>
                            </div>
                        </div>
                      </div>
                    </ng-template>
                  </p-dataView>
                </div>
              </div>
            </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</div>

