<div class="ui-g-12 social-networks flex-container flex-align-center no-padding">
    <app-social-network-item [config]="config" *ngFor="let config of socialNetworkItems"></app-social-network-item>
</div>
