$gray-1: #8794A2;
$gray-2: #BFC2C5;
$gray-3: #727D8B;
$gray-4: #e1e1e1;
$gray-5: #405266;
$blue-1: #0F2133;
$white: #FFF;
$blue-2: #1692BB;
$blue-3: #020d18;
$blue-4: #06121E;
$blue-5: #020E1A;
$blue-6: #405266;
$blue-7: #233A50;
$gray-6: #0F2133;
$blue-8: #3F82F8;
$blue-9: #0B1A2A;
$blue-10: #233A50;
$blue-11: #1692bb;
$yellow-1: #F5B50A;
$yellow-2: #DCF82D;
$yellow-3: #f5b50a;
$orange-2: #EC5A1A;
$orange-3: #ec5a1a;
$red-1: #C5043C;
$red-2: #DD003F;
$black: #000;
$purple1: #5F3081;
$tomato: #ff6347;
$text-color: #abb7c4;
