@import 'colors';
@import 'mixins/_layout.scss';

#custom-theme {
  > * {
    color: $white;
  }

  .img-responsive {
    @include responsive-img;
  }
  .movie-list-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .go-to-list-btn {
      color: $gray-3;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 0.600rem;
      font-weight: bold;
      &:hover {
        color: $yellow-2;
      }
    }
    .movie-list-title-heading {
      margin: 0;
    }
  }
  .main-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    .header-container {
      .main-nav {
        padding-right: 0 !important;
      }
      p-menubar {
        flex-grow: 1;
      }
      padding: 0 180px;
      .header-items {
        display: flex;
        padding: 15px 0;
        .site-title {
          display: flex;
          align-items: center;
          font-size: 24px;
          font-weight: bolder;
          margin: 0;
          color: $yellow-3;
          padding: 10px 0;
        }

        .ui-menubar {
          padding: 10px;
        }
        .ui-menuitem {
          .ui-menuitem-link {
            transition: 0.3s color ease;
            color: $gray-1;
            text-transform: uppercase;
            cursor: pointer;
            font-size: 0.900rem;
            font-weight: 700;
            text-shadow: 3px 5px #000000;
          }
          &:hover {
            .ui-menuitem-link {
              color: $yellow-2;
            }
          }
          .ui-submenu-list {
            background-color: $white;
            margin-left: 3px;
            border-radius: 3px;
            padding: 5px;
            .ui-menuitem-link {
              text-shadow: none;
              color: $black !important;
              padding: 15px 0;
              &:hover {
                 color: gray !important;
              }
            }
            .ui-submenu-list {
              margin-left: 12px;
            }
          }
        }
      }
    }
  }
  footer {
    @include full-page-background;
    .footer-copyright {
      @include block;
      padding-top: 30px;
      padding-bottom: 30px;
      background-color: $blue-5;
      border-top: 1px solid $blue-6;
      display: flex;
      justify-content: center;
      align-content: center;
    }
    .footer-container {
      @include block;
      .footer-items {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
  .main-wrapper {
    @include full-page-background;
    .image-layer {
      position: fixed;
      width: 100%;
      bottom: 0;
      min-height: 100vh;
      top: 0;
      left: 0;
      z-index: 1;
      @include backlight;
    }
    .slider-container {
      @include block;
    }
    .movie-list {
      @include block;
    }
    .news-container {
      @include block;
      background-color: $blue-3;
      .news-list-container {
        display: flex;
        justify-content: space-between;
        padding-top: 38px;
        .single-news {
          display: flex;
          flex-wrap: wrap;
          width: 300px;
          .poster {
            margin: 0 auto;
            img {
              transition: all .2s ease-in-out;
            }
          }
          &:hover {
            .poster {
              overflow: hidden;
              img {
                transform: scale(1.2);
              }
            }
          }
        }
      }
    }
    .spotlight-container {
      @include block;
      background-color: $blue-4;
    }
    .movie-list-preview {
      @include block;
      background-color: $blue-3;
      .ui-tabview-nav {
        > li {
          outline: none;
        }
        .ui-tabview-selected {
          color: $yellow-2;
        }
      }
    }
  }
}
