/* You can add global styles to this file, and also import other style files */
body, html {
  font-size: 14px;
  font-family: "Exo", sans-serif;
}
@import 'overwrites';
@import 'layout.scss';
@import 'reusable/_reusable.scss';
@import 'components/menubar';
@import 'components/carousel';
@import 'components/header';
@import 'components/dialog';
@import 'components/autocomplete';
@import 'custom-theme/dialog';
@import 'custom-theme/forms';
@import 'components/panel';
@import 'components/dropdown';
@import 'components/dataview';
@import 'components/chip';
@import 'components/search';
@import 'components/aside-details';
@import 'components/panel-subcategory';
@import 'components/lightbox';
