<footer class="ui-g ui-fluid">
    <div class="ui-g-12 ui-g footer-container">
      <div class="footer-items ui-g-12 no-padding">
          <div class="project-details flex-container flex-align-center space-between full-width-flex-item">
              <div class="footer-info">
                  <div class="details">
                    <strong>Email: </strong><a href="mailto:marius.rancu@hotmail.com">Marius Rancu</a><br/>
                    <strong>University: </strong><a href="http://www.uaic.ro/">Universitatea Al. I. Cuza Iași</a><br/>
                    <strong>Faculty: </strong><a href="http://www.info.uaic.ro/bin/Main/">Faculty of Computer Science</a>
                  </div>
                </div>
                <div class="footer-info">
                  <ul class="flex-container" style="flex-direction: column;">
                      <li class="flex-container flex-align-center">
                        <div>
                            <img src='./assets/images/TMDB.png'/>
                        </div>
                        <div class="external-help" style="font-weight: bold; margin-left: 10px">
                              This product uses the <a style="color: #01D277;" href="https://www.themoviedb.org/documentation/api">TMDb</a> API but is not endorsed or certified by TMDb.
                        </div>
                      </li>
                      <li class="flex-container flex-align-center">
                        <div class="external-help" style="font-weight: bold;">
                              This project uses data from <a style="color: #16BBE7;" href="https://grouplens.org/datasets/movielens/">MovieLens</a><br/>
                        </div>
                      </li>
                  </ul>
                </div>
          </div>
      </div>
    </div>
    <div class="footer-copyright ui-g-12 no-padding">
      <small>Cinemate</small>
    </div>
  </footer>