@import '../../assets/sass/colors';

.footer-info {
    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
            flex-basis: 50%;
            flex-grow: 1;
            img {
                width: 50px;
                height: 50px;
            }
        }
    }
}

.details {
    a {
        text-decoration: none;
        color: white;
        &:hover {
            color: $yellow-2;
        }
    }
}

.extenal-help {
    a {
        text-decoration: none;
    }
}

.project-details {
    .footer-info {
        flex-basis: 50%;
        flex-grow: 1;
    }
}