@import '../colors';

.aside-item-details {
  ::ng-deep {
    .item-container {
      padding-left: 20px;
      .item-container-item {
        font-size: 14px;
        padding: 0;
        &:first-child {
          margin-top: 16px;
        }
        p {
          color: $blue-6;
        }
        &__link {
          text-decoration: none;
          &:hover {
            color: $yellow-2;
          }
        }
      }
      h3 {
        font-size: 16px;
        margin: 0;
        color: $gray-2;
      }
    }
  }
}
