@import '../colors';
@import '../mixins/layout';

#custom-theme {
  p-carousel {
    position: relative;
    z-index: 2;
  }
  .ui-carousel {
    %white-color{
      color:$white;
    }
  }

  .movie-list-container {
    .ui-tabview {
      padding: 0;
      .ui-tabview-nav {
        li > {
          a {
            padding-left: 0;
          }
        }
      }
    }
    .ui-tabview-panel {
      padding: 0;
      .ui-carousel {
        display: flex;
        flex-wrap: wrap;
        .ui-carousel-header {
          order: 1;
          flex-grow: 1;
          display: flex;
          justify-content: center;

          @include main_page_carousel_controls;
          .ui-carousel-button {
            display: none;
          }
        }
        .ui-carousel-item {
          margin-right: 0 !important;
          img {
            @include responsive-img;
          }
          .ui-card-body {
            .movie-card {
              margin: 20px;
              position: relative;
              &:first-child {
                margin-left: 0;
              }
              @include movie-card;
            }
            &:first-child {
              padding: 0;
            }
          }
        }
      }
    }
  }

  .carousel-with-video-container {
    .ui-carousel {
      display: flex;
      flex-wrap: wrap;
      .ui-carousel-header {
        order: 1;
        flex-grow: 1;
        display: flex;
        justify-content: center;

        @include main_page_carousel_controls;
        .ui-carousel-button {
          display: none;
        }
      }
    }
  }

  .slider-container {
    .ui-carousel {
      .ui-carousel-header{
        %carousel-btn {
          top: 50%;
          position: absolute;
          z-index: 3;
        }
        @extend %white-color;
        position: absolute;
        height: 100%;
        width: 100%;
        .ui-carousel-page-links, .ui-carousel-dropdown {
          display: none;
        }
        .ui-carousel-button {
          float: none;
          font-size: 40px;
          @extend %carousel-btn;
        }
        .ui-carousel-prev-button {
          left: 15%;
        }

        .ui-carousel-next-button {
          right: 15%;
        }
      }
      .ui-carousel-viewport {
        .ui-carousel-item {
          @extend %white-color;
        }
        .ui-carousel-item {
          .movie-item {
            display: flex;
            flex-wrap: wrap;
            width: 60%;
            padding: 60px 20px;
            margin: 0 auto;
            ul {
              li {
                list-style-type: none;
                width: 100% !important;
              }
            }
            .left-side {
              flex-grow: 1;
              flex-basis: 50%;
              display: flex;
              flex-wrap: wrap;
              > * {
                flex-grow: 1;
                flex-basis: 100%;
              }
              .movie-genres {
                > li {
                  display: inline-block;
                  width: auto !important;
                  padding: 5px 10px;
                  &:first-child {
                    padding-left: 0;
                  }
                }
              }
            }
            .right-side {
              flex-grow: 1;
              flex-basis: 50%;
              display: flex;
              justify-content: flex-end;
            }
            .movie-poster {
              width: 250px;
              height: 350px;
              img {
                @include responsive_img;
              }
            }
          }
        }
      }
    }
  }
}
