@import "../colors";
.chip {
  padding: 3px 5px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 3px;
  &-orange {
    background-color: $orange-3;
  }
  &-yellow {
    background-color: $yellow-3;
  }
  &-blue {
    background-color: $blue-11;
  }
  &-purple {
    background-color: $purple1;
  }
  &-tomato {
    background-color: $tomato;
  }
  &-red {
    background-color: red;
  }
  &-grey {
    background-color: grey;
  }
}
