@import '../colors';
.ui-dataview {
    p-header {
        display: flex;
        width: 100%;
    }
}

p-dataview {
    width: 100%;
}

@mixin data_view_general {
  .ui-dataview-header {
    padding: 0;
  }
  %data-view-header-styling {
    display: flex;
    border: 1px solid $gray-5;
    width: 100%;
    border-left: none;
    border-right: none;
  }
  .data-view-header-container {
    @extend %data-view-header-styling;
  }
  .ui-paginator {
    @extend %data-view-header-styling;
    padding: .5em 0;
    .ui-paginator-icon, .ui-paginator-page {
      color: $gray-5;
    }

    .ui-state-active {
      color: $yellow-2;
    }
    &-bottom {
      display: flex;
      justify-content: center;
    }

  }
  .data-view-info {
    padding: .5em 0;
  }
  .data-view-controls {
    order: 1;
    .ui-dataview-layout-options {
      display: flex;
      align-items: center;
      border: 1px solid $gray-5;
      border-top: none;
      border-bottom: none;
      height: 100%;
      .ui-button {
        color: $gray-5;
        &.ui-state-active {
          color: $yellow-2;
        }
      }
    }
  }
}
