@import '../colors';

.ui-dialog {
  background-color: $white;
  top: 15% !important;
  .ui-dialog-content {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    padding: 0.3125em 0;
  }
}

.ui-dialog-mask {
  background-color: rgba(0, 0, 0, 0.7);
}

