@import '../colors';

.ui-dropdown {
     width: auto;
    .ui-dropdown-label {
        background-color: $blue-7;
        color: $white;
        padding: 15px;
        text-transform: uppercase;
        &::placeholder {
            color: $white;
        }
    }
    .ui-dropdown-items {
        border: 1px solid white;
        .ui-dropdown-item {
            color: $white;
            &:hover {
                background-color: $blue-8;
            }
        }
    }

    .ui-dropdown-trigger  {
        color: $black;
    }

    .ui-dropdown-items-wrapper {
        background-color: $blue-7;
        color: $white;
        text-transform: uppercase;
    }

    .ui-dropdown-trigger {
        color: $white;
    }
}
