@import '../colors';

#custom-theme {
    .sticky-header {
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $blue-1;
        transition: 0.3s all ease;
        box-shadow: inset  0px -4px rgba(0, 0, 0, 0.7);
    }
}
