.ui-lightbox {
  width: 600px !important;
  height: 350px !important;
  .ui-lightbox-content{
    width: 100% !important;
    height: 100% !important;
    img {
      width: 100%;
    }
  }

  .ui-lightbox-nav-icon {
    color: white;
    font-size: 1.2rem;
  }

  .ui-lightbox-close {
    display: none;
  }
}
