@import '../colors';

#custom-theme {
  .single-movie-panel, .single-item-panel {
    .ui-tabview-panel {
      padding: 0;
    }
    .ui-tabview-title {
      text-transform: uppercase;
      color: $yellow-2;
    }
    .ui-tabview-selected {
      border-bottom: 3px solid $yellow-2;
    }

   .ui-tabview-nav {
     > li {
       outline: none;
     }
   }
  }
}
