@import '../../../../src/assets/sass/colors';
@import '../../../../src/assets/sass/mixins/layout';
@import '../../../assets/sass/components/dataview';
#custom-theme {
  :host {
    // TODO: move it inside a component
    .search-area {
      @include block;
      padding-top: 130px;
      padding-bottom: 130px;
    }
    .list-container {
        @include block;
        background-color: $blue-4;
    }

    /deep/ {
        .data-view {
            color: $text-color;
            font-size: 0.875rem;
            .fa-star {
              color: $yellow-3;
            }
            .movie {
                padding-left: 0;
                background-color: $blue-7;
                margin: 20px 0;
            }
            .movie-title {
              color: $white;
              cursor: pointer;
              font-family: "Open Sans", "Helvetica Neue", sans-serif;
              font-size: 1rem;
              font-weight: bolder;
              &:hover {
                color: $yellow-2;
              }
            }
            .grid-movie {
               padding: 10px;
              .ui-card-body {
                  img {
                      width: 100%;
                  }
                  padding: 0;
                  .movie-card {
                    position: relative;
                    @include movie-card;
                  }
              }
            }
            @include data_view_general;
            .ui-dropdown {
                .ui-dropdown-label {
                    background-color: inherit;
                    text-transform: capitalize;
                }
                .ui-dropdown-items {
                    text-transform: capitalize;
                }
                width: 250px !important;
            }
        }
    }
  }
}
