<!-- to do wrapper component -->
<div class="ui-g main-wrapper">
  <div class="image-layer"></div>
  <div class="ui-g-12 ui-g search-area">
    <h1 class="text-center ui-g-12 title">{{pageTitle}}</h1>
    <app-main-search></app-main-search>
  </div>
  <div class="ui-g-12 ui-g list-container no-padding">
      <p-dataView styleClass="data-view" [value]="movies" [paginator]="true" [rows]="10" paginatorPosition="bottom">
          <p-header>
              <div class="data-view-header-container">
                  <div class="data-view-controls">
                      <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                  </div>
              </div>
          </p-header>
          <ng-template let-movie pTemplate="listItem">
            <div class="ui-g">
              <div class="ui-g-12 movie no-padding flex-container flex-align-center">
                <div class="ui-g-12 ui-md-3 no-padding">
                  <img [src]="movie.posterPath" (click)='onClickMovieDetails(movie.id)' class="responsive-img">
                </div>
                <div class="ui-g-12 ui-md-8 movie-details no-padding">
                  <div class="ui-g">
                    <div class="ui-g-12">
                      <div class="movie-title" (click)='onClickMovieDetails(movie.id)'><b>{{movie.title}}</b></div>
                      <br/>
                      <div class="rating"><span><i class="fa fa-star"></i></span>&nbsp;&nbsp;{{movie.rating}}/5</div>
                      <br/>
                      <p class="description">{{movie.description}}</p>
                      <hr>
                      <div class="misc-details">
                        <span>Run Time: {{movie.runtime}} minutes</span><br/><br/>
                        <span>Release: {{movie.releaseDate | date:'mediumDate'}}</span>
                      </div>
                      <br/>
                      <div class="staff">
                        <span>Director: {{movie.directors.join(', ')}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template let-movie pTemplate="gridItem">
              <div class="grid-movie no-padding">
                <p-card>
                  <div class="movie-card">
                    <div class="movie-poster">
                      <img [src]="movie.posterPath" class="responsive-img" (click)='onClickMovieDetails(movie.id)'  [alt]="movie.title">
                    </div>
                    <div class="movie-card-details">
                      <div class="movie-title" (click)='onClickMovieDetails(movie.id)' >{{movie.title}}</div>
                      <div class="movie-rating"><span><i class="fa fa-star"></i></span>&nbsp;&nbsp;{{movie.rating}}/5</div>
                    </div>
                    <div class="movie-card-hover">
                      <a [routerLink]="['/', 'movies', movie.id]">
                        <button pButton type="button" label="Read more" class="ui-button-rounded"></button>
                      </a>
                    </div>
                  </div>
                </p-card>
              </div>
          </ng-template>
        </p-dataView>
  </div>
  </div>
