@import '../../../../../../src/assets/sass/mixins/layout';
@import '../../../../../assets/sass/components/dataview';
/deep/ {
  .data-view {
    .movie-poster {
      &:hover {
        cursor: pointer;
      }
    }
    .grid-item {
      padding: 10px;
      .ui-card-body {
        img {
          width: 100%;
        }
        padding: 0;
      }
    }
    @include data_view_general;
    .ui-dropdown {
      .ui-dropdown-label {
        background-color: inherit;
        text-transform: capitalize;
      }
      .ui-dropdown-items {
        text-transform: capitalize;
      }
      width: 250px !important;
    }

    .label {
      background-color: $blue-7;
      display: inline-block;
      margin: 10px 0;
      padding: 3px 7px;
      font-size: 0.725em;
      color: $gray-3;
    }

    .movie-title {
      cursor: pointer;
      text-transform: uppercase;
      font-size: 1rem;
      &:hover {
        color: $yellow-2;
      }
    }

    .review-text {
      font-size: 0.725rem;
      color: $gray-2;
      line-height: 1rem;
      -webkit-line-clamp: 2;
      -moz-line-camp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 2rem;
    }

    .remove-btn {
      cursor: pointer;
    }
  }
}
