<p-dataView styleClass="data-view" [value]="movies" [paginator]="true" [rows]="6" paginatorPosition="bottom" filterBy="name" [sortField]="'name'" [sortOrder]="sortOrder">
  <p-header>
    <div class="data-view-header-container">
      <div class="data-view-info">
        Found {{movies.length}} movies in total
      </div>
    </div>
  </p-header>
  <ng-template let-movie pTemplate="listItem">
    <div class="ui-g" *ngIf="!toSeeMovies; else favoriteMovies">
      <div class="ui-g-12 movie">
        <div class="ui-g-12 ui-md-3 no-padding">
          <img [src]="movie.posterPath" (click)='onClickMovieDetails(movie.id)' class="responsive-img movie-poster">
        </div>
        <div class="ui-g-12 ui-md-8 movie-details no-padding">
          <div class="ui-g">
            <div class="ui-g-12">
              <div (click)='onClickMovieDetails(movie.id)' class="movie-title"><b>{{movie.title}}</b></div><br/>
              <div class="rating"><span><i class="fa fa-star"></i></span>&nbsp;&nbsp;{{movie.rating}}/5</div>
              <p class="description">{{movie.description}}</p>
              <hr>
              <div class="misc-details">
                <span>Run Time: {{movie.runtime}} minutes</span><br/>
                <span>Release: {{movie.releaseDate | date:'mediumDate'}}</span>
              </div>
              <div class="staff">
                <span>Director: {{movie.directors.join(', ')}}</span>
              </div>
              <br/>
              <div (click)="removeMovie(movie.id)" class="text-danger remove-btn"><span><i class="fa fa-times" aria-hidden="true"></i></span>&nbsp;Remove</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #favoriteMovies>
      <div class="ui-g">
        <div class="ui-g-12 movie">
          <div class="ui-g-12 ui-md-3 no-padding">
            <img [src]="movie.posterPath" (click)='onClickMovieDetails(movie.id)' class="responsive-img movie-poster">
          </div>
          <div class="ui-g-12 ui-md-8 movie-details no-padding">
              <div class="ui-g">
                <div class="ui-g-12">
                  <div (click)='onClickMovieDetails(movie.id)' class="movie-title"><b>{{movie.title}}</b></div><br/>
                  <div class="rating"><span><i class="fa fa-star"></i></span>&nbsp;&nbsp;{{movie.rating}}/5</div>
                  <p class="description">{{movie.description}}</p>
                  <hr>
                  <div class="misc-details">
                    <span>Run Time: {{movie.runtime}} minutes</span><br/>
                    <span>Release: {{movie.releaseDate | date:'mediumDate'}}</span>
                  </div>
                  <div class="staff">
                    <span>Director: {{movie.directors.join(', ')}}</span>
                  </div>
                  <br/>
                  <div (click)="removeFavoriteMovie(movie.id)" class="text-danger remove-btn"><span><i class="fa fa-times" aria-hidden="true"></i></span>&nbsp;Remove</div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </ng-template>
  </ng-template>
</p-dataView>
