@import '../../assets/sass/colors';
@import '../../assets/sass/mixins/mixins';
@import '../../../src/assets/sass/mixins/layout';
@import '/../../assets/sass/components/dataview';

.movie-description {
  .movie-description-items {
    li {
      margin-right: 7px;
    }
    .movie-rating {
      flex-grow: 1;
      flex-basis: 15%;
      i {
        color: $yellow-1;
      }
    }
    li:not(:first-child) {
      flex-grow: 2;
      flex-basis: 28.3333333%;
    }
    span {
      font-size: 12px;
      font-weight: 600;
    }
  }
}
.video-list-container {
  padding: 30px 0 0;
  .ui-carousel-item:nth-child(3n+0) {
      .video-container {
        margin: 0;
      }
  }
  @include iframe_yt;
  .video-container {
    height: 400px;
    margin: 0 30px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.search-area {
      @include block;
      padding-top: 130px;
      padding-bottom: 130px;
    }

.news-container {
  > * {
    font-size: 0.725rem;
    .news-title {
      a {
        text-decoration: none;
        color: $blue-8;
      }
    }
  }

  p {
    margin: 0;
    padding: 5px 0;
  }
}

#main-page {
  .search-area {
    min-height: 100px;
    padding-bottom: 0;
  } 
}


