<div class="ui-g main-wrapper" id="main-page">
  <div class="image-layer"></div>
  <div class="ui-g-12 ui-g search-area">
      <app-main-search></app-main-search>
  </div>
  <div class="ui-g-12 slider-container">
    <p-carousel
      [numVisible]="1"
      easing="ease"
      [circular]="true"
      [value]="carouselItems">
      <ng-template let-item pTemplate="item">
        <div class="movie-item" >
          <div class="left-side">
            <ul class="movie-genres">
              <li *ngFor="let genre of item.genres">
                <app-chip [genre]="genre"></app-chip>
              </li>
            </ul>
            <h1 class="movie-title" (click)='onClickMovieDetails(item.id)'><span>{{item.title}}</span><span>&nbsp;&nbsp;&nbsp;({{item.releaseDate | date: 'yyyy'}})</span></h1>
            <div class="movie-misc">
              <app-social-network [socialNetworkItems]="socialNetworkItems"></app-social-network>
            </div>
            <div class="movie-description ui-g">
              <ul class="ui-g-12 movie-description-items flex-align-center flex-container full-width-flex-item">
                <li class="movie-rating">
                  <span><i class="fa fa-star"></i></span>&nbsp;&nbsp;<span>{{item.rating}}</span>
                </li>
                <li class="movie-run-time"><span>Run Time: {{item.runtime}} minutes</span></li>
                <li class="movie-release-date"><span>Release: {{item.releaseDate | date: 'mediumDate'}}</span></li>
              </ul>
            </div>
          </div>
          <div class="right-side">
            <div class="movie-poster">
              <img (click)='onClickMovieDetails(item.id)' [src]="item.posterPath" [alt]="item.title"/>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <div class="ui-g-12 movie-list-preview">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12"  *ngIf="carouselRecommendedItems != null">
        <div class="movie-list-title">
          <h2 class="movie-list-title-heading">{{CarouselTitle}}</h2>
          <a class="go-to-list-btn uppercase" href="/list">View all &gt;</a>
        </div>
        <div class="movie-list-container">
          <p-tabView>
            <p-tabPanel header="Recommended movies" leftIcon="pi pi-calendar">
              <p-carousel [numVisible]="6" [value]="carouselRecommendedItems">
                <ng-template let-item pTemplate="item">
                  <p-card>
                    <div class="movie-card">
                      <div class="movie-poster">
                        <img [src]="item.posterPath" [alt]="item.title" (click)='onClickMovieDetails(item.id)'>
                      </div>
                      <div class="movie-card-details">
                        <div class="movie-title" (click)='onClickMovieDetails(item.id)'>{{item.title}}</div>
                        <div class="movie-rating"><span><i class="fa fa-star"></i></span>&nbsp;&nbsp;{{item.rating}}/10</div>
                      </div>
                      <div class="movie-card-hover">
                          <a [routerLink]="['/', 'movies', item.id]">
                          <button pButton type="button" label="Read more" class="ui-button-rounded"></button>
                        </a>
                      </div>
                    </div>
                  </p-card>
                </ng-template>
              </p-carousel>
            </p-tabPanel>
          </p-tabView>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="ui-g-12 spotlight-container">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-sm-12">
        <div class="movie-list-title">
          <h2 class="movie-list-title-heading">In theater</h2>
          <a class="go-to-list-btn uppercase" href="#">View all &gt;</a>
        </div>
        <div class="video-list-container">
          <div class="carousel-with-video-container">
            <div class="current-trailer">

            </div>
            <div class="carousel">
              <p-carousel [circular]="true" [numVisible]="3" [value]="carouselWithVideoItems">
                <ng-template let-item pTemplate="item">
                  <div class="video-container">
                    <iframe class="video-iframe" src="https://www.youtube.com/embed/2cv2ueYnKjg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </ng-template>
              </p-carousel>
            </div>
          </div>
        </div>
      </div>
      <div class="ui-g-2 ui-sm-12">

      </div>
    </div>
  </div> -->

  <!-- <div class="ui-g-12 news-container">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <div class="movie-list-title">
          <h2 class="movie-list-title-heading uppercase">Latest news</h2>
          <a class="go-to-list-btn uppercase" href="#">See all news &gt;</a>
        </div>
        <div class="news-list-container">
          <div class="single-news" *ngFor="let item of newsItems">
            <div class="poster">
              <img class="img-responsive" [src]="item.posterPath"/>
            </div>
            <h3 class="news-title">
              <a href="#">{{item.title}}</a>
            </h3>
            <p class="news-date">{{item.date}}</p>
            <p class="news-description">
              {{item.description}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
