@import '../../../../src/assets/sass/colors';
@import '../../../../src/assets/sass/mixins/layout';
@import '../../../../src/assets/sass/components/_dataview.scss';
@import '../../../../src/assets/sass/_theme-variables.scss';
@import '../../../../src/assets/sass/mixins/mixins';

#movie-container {
  .search-area {
    @include block;
    min-height: 600px;
    margin-bottom: 100px;
  }

  .media-container {
    /deep/ {
      .lightbox-container {
        display: flex;
        flex-shrink: 1;
        justify-content: space-between;
        > * {
          width: 15%;
          margin-right: 1.66666%;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .full-width {
    width: 100%;
  }
  .crew-link {
    color: $gray-4;
  }
  .single-movie-container {
    @include block;
    background-color: $blue-4;
    figure {
      margin: 0;
    }
    .left-container {
      padding-left: 0;
      margin-top: -235px;
      .poster {
        img {
          border-radius: 7px;
        }
      }
      figcaption {
        height: 150px;
        border: 3px solid $blue-6;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
        padding: 20px;
        margin-top: 7px;
        /deep/ {
          @include red-btn;
          .ui-button {
            flex-grow: 1;
            flex-basis: 60%;
            margin: 5px 0;
            border-radius: 3px;
          }
        }

        /deep/ {
          .green-btn {
            background-color: lightgreen;
            color: $white;
          }
        }
      }

      .page-title {
        justify-content: flex-start;
      }
    }
    
    .right-container {
       margin-top: -252px;
    
      .movie-rating {
         border: 2px solid $blue-6;
         border-left: none;
         border-right: none;
         margin-top: 60px;
        .movie-rating-item {
          height: 100%;
          padding: 10px;
          .rating {
            > div {
              display: inline-block;
            }
          }
        } 
        .general-rating {
          border-left: none;
          border-right: none;
          .mark {
            flex-grow: 1;
            flex-basis: 70%;
          }
          .user-rating {
            margin-left: 20px;
            border-left: 2px solid $blue-6;
          }
        }
      }
      .real-person {
        display: flex;
        .portrait {
          width: 60px;
          height: 60px;
        }
      }
      .cast-list {
        li {
          display: flex;
          justify-content: space-between;
          align-content: center;
          padding: 10px 0;
          .portrait {
            overflow: hidden;
          }
        }
      }

      .aside-movie-details {
        ::ng-deep {
          .movie-crew {
            padding-left: 20px;
            .movie-crew-item {
              font-size: 14px;
              padding: 0;
              &:first-child {
                margin-top: 16px;
              }
              p {
                color: $blue-6;
                word-break: break-word;
              }
              &__link {
                text-decoration: none;
                &:hover {
                  color: $yellow-2;
                }
              }
            }
            h3 {
              font-size: 16px;
              margin: 0;
              color: $gray-2;
            }
          }
        }
      }

      .aside-movie-reviews {
        padding-top: 10px;
        /deep/ {
          .data-view {
            @include data_view_general;
          }
        }
      }

      .movie-media {
        padding-top: 10px;
        &-title {
          color: $blue-8;
        }
        &-list {
          &-title {
            border-bottom: 3px solid $blue-6;
            padding-bottom: 7px;
          }
          &-items {
            > li {
              margin-right: 20px;
              flex-basis: 25%;
              .video-container-details {
                color: $blue-6;
                font-size: 1rem;
              }
              .video-container-duration {
                color: $white;
                font-size: 0.800rem;
              }
            }
          }

          &-images {
            display: block;
            li {
              display: inline-block;
              width: 200px;
              height: 200px;
              margin-right: 20px;
            }
          }
        }
      }

      .movie-cast {
        padding-top: 10px;
        &-title {
          color: $blue-8;
        }
        &-list {
          &-title {
              border-bottom: 3px solid $blue-6;
              padding-bottom: 7px;
          }
        }
      }

      .tab-item {
        padding-top: 10px;
        &-title {
          color: $blue-8;
          .add-review {
            @include red-btn;
            .ui-button {
              display: inline-block;
              width: 200px;
              border-radius: 8px;
            }
          }
        }
        &-list {
          padding-top: 10px;
          &-title {
            border-bottom: 3px solid $blue-6;
            padding-bottom: 7px;
          }
        }
      }
    }
  }
  .user-reviews {
    .post-details {
      padding: 10px 0;
    }

  }
  .title {
    margin: 30px 0;
    a {
      text-decoration: none;
      color: $blue-6;
      &:hover {
        color: $yellow-2;
      }
      font-size: 0.8em;
    }
  }
  .media-container-image {
    padding: 5px;
  }
}

//.main-wrapper {
//  background: url('https://lumiere-a.akamaihd.net/v1/images/homepage_avengersageofultron_hero_phase3_6c1f86f5.jpeg?region=0,0,1024,444&quality=8') !important;
//}


