<!-- to do wrapper component -->
<div class="ui-g main-wrapper" id="movie-container">
  <div class="image-layer"></div>
  <div class="ui-g-12 search-area ui-g" [attr.data-background]="movie?.backgroundImg">
      <app-main-search></app-main-search>
      <h1 class="title full-width-flex-item text-center"><span>{{movie?.title}}</span>&nbsp;&nbsp;<span class="movie-date">{{movie?.year}}</span></h1>
  </div>
  <div class="ui-g-12 ui-g single-movie-container">
    <div class="left-container ui-g-3">
        <figure>
            <div class="poster">
              <img [src]="movie?.posterPath" [alt]="movie.title" class="responsive-img full-width">
            </div>
            <figcaption>
              <button pButton type="button" (click)="addToFavorites($event)" [ngClass]="{
                'ui-button-primary red-btn': !isAddedToFavorites,
                'ui-button-primary green-btn': isAddedToFavorites
              }" [label]="favoriteButtonLabel"></button>
              <button pButton type="button" (click)="saveMovieToSee($event)" [ngClass]="{
                'ui-button-primary red-btn': !isAddedToSaved,
                'ui-button-primary green-btn': isAddedToSaved
              }" [label]="watchListButtonLabel"></button>
            </figcaption>
        </figure>
    </div>
    <div class="right-container ui-g-9">
        <div class="ui-g-12 movie-rating flex-container flex-align-center no-padding">
            <div class="movie-rating-item general-rating flex-container flex-align-center">
                <div class="star">
                  <i class="fa fa-star"></i>
                </div>
               <div class="rating">
                  <div class="mark">&nbsp;&nbsp;{{movie.rating}}/5 &nbsp;&nbsp;</div>
                  <div class="reviews-count">  {{movie.ratingsCount}} Ratings</div>
               </div>
            </div>
            <div class="movie-rating-item user-rating flex-container flex-align-center">
                <span>Rate this movie:</span>
                <app-rating [rating]="movie.rating" (onRatingSet)="onRatingSet($event)"></app-rating>
            </div>
        </div>
        <div class="ui-g-12">
          <p-tabView [styleClass]="'single-movie-panel'">
            <p-tabPanel header="Overview">
                <div class="ui-g-10 ui-sm-12 no-padding movie-details">
                  <p>{{movie.description}}</p>
                  <div class="movie-media">
                    <div class="title flex-container space-between flex-wrap">
                      <h3>Videos & Photos</h3>
                      <div class="ui-g-12 no-padding media-container flex-container full-width-flex-item">
                          <p-lightbox type="image" effectDuration="200ms" easing="ease-in" appendTo="body" styleClass="lightbox-container" [images]="movie.lightBoxImages"></p-lightbox>
                      </div>
                    </div>
                  </div>
                  <div class="movie-cast">
                    <div class="title flex-container space-between">
                      <h3>Cast</h3>
                      <a class="flex-container flex-align-center" href="#">Full Cast & Crew&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
                    </div>
                    <ul class="cast-list">
                      <li *ngFor="let actor of movie?.cast">
                        <div class="real-person flex-container flex-align-center">
                          <div class="portrait" style="margin: 10px 0; padding-right: 10px;">
                            <img [src]="actor.profilePath ? actor.profilePath : 'http://fuuse.net/wp-content/uploads/2016/02/avatar-placeholder.png'" class="responsive-img"/>
                          </div>
                          <span class="actor-name">{{actor.name}}</span>
                        </div>
                        <div class="character flex-container flex-align-center">
                            <span class="persona-name">...{{actor.persona}}</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="user-reviews" *ngIf="movie.reviews != null">
                      <div class="title flex-container space-between">
                        <h3>User reviews</h3>
                        <a class="flex-container flex-align-center" href="#">See all {{movie.reviewsCount}} Reviews&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
                      </div>
                      <div class="top-review">
                        <h3>{{movie.reviews[0]?.title}}</h3>
                        <div class="post-details">
                          {{movie.reviews[0]?.postDate | date:'mediumDate'}} by {{movie.reviews[0]?.user}}
                        </div>
                        <div class="review-text">
                          {{movie.reviews[0]?.description}}
                        </div>
                      </div>
                  </div>
                </div>
                <div class="ui-g-2 ui-sm-12 no-padding aside-movie-details">
                    <app-aside-details styleClass="movie-crew" [items]="movie?.asideDetails">
                        <ng-template #list let-item>
                          <div class="movie-crew-item">
                            <h3>{{item.entityName}}</h3>
                            <p *ngIf="item.url; else noLink">
                              <ng-container *ngFor="let i of item.data">
                                <a class="movie-crew-item__link" [routerLink]="[i.url]" *ngIf="i.url; else subItem">
                                  <span>{{i.itemValue}}&nbsp;&nbsp;</span>
                                </a>
                                <ng-template #subItem>
                                  <span>{{i.data}}</span>&nbsp;&nbsp;
                                </ng-template>
                              </ng-container>
                            </p>
                            <ng-template #noLink>
                              <p>
                                <span *ngFor="let i of item.data">{{i}}&nbsp;&nbsp;</span>
                              </p>
                            </ng-template>
                          </div>
                        </ng-template>
                        <ng-template #date let-item>
                            <div class="movie-crew-item">
                              <h3>{{item.entityName}}</h3>
                              <p>{{item.data | date: 'mediumDate'}}</p>
                            </div>
                        </ng-template>
                      <ng-template #string let-item>
                        <div class="movie-crew-item">
                          <h3>{{item.entityName}}</h3>
                          <a [routerLink]="[item.url]" class="no-text-decoration" *ngIf="item.url;else noLink">
                            <p>{{item.data}}</p>
                          </a>
                          <ng-template #noLink>
                            <p>{{item.data}}</p>
                          </ng-template>
                        </div>
                      </ng-template>
                        <ng-template #keyword let-item>
                            <div class="movie-crew-item">
                              <h3>{{item.entityName}}</h3>
                              <p>{{item.data}}</p>
                            </div>
                        </ng-template>
                    </app-aside-details>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Reviews">
              <div class="ui-g-12 aside-movie-reviews no-padding">
                <div class="tab-item-title flex-container space-between flex-align-center">
                  <div class="tab-item-title-container">
                    <p>Reviews</p>
                    <h2>{{movie.title}}</h2>
                  </div>
                  <div class="add-review" *ngIf="userId != null">
                    <app-review-form (review)="onReviewSaved($event)" (onModalClose)="commentFormVisible=false"  [movieId]="movieId" [visible]="commentFormVisible"></app-review-form>
                    <button pButton type="submit" class="ui-button-primary review-btn" label="Write review" (click)="onWriteReviewClick($event)"></button>
                  </div>
                </div>
                <div class="tab-item-list">
                  <div class="tab-item-list-title">
                    Reviews list
                  </div>
                  <p-dataView *ngIf="movie.reviews != null" styleClass="data-view" [value]="movie.reviews" [paginator]="true" [rows]="3" paginatorPosition="bottom">
                    <ng-template let-review pTemplate="listItem">
                      <div class="ui-g">
                        <div class="ui-g-12 user-reviews">
                          <div class="top-review">
                            <h3>{{review.title}}</h3>
                            <div class="post-details">
                              {{review.postDate | date:'mediumDate'}} by {{review.user}}
                            </div>
                            <div class="review-text">
                              {{review.description}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </p-dataView>
                </div>
              </div>
            </p-tabPanel>
            <p-tabPanel header="Media">
              <div class="ui-g-12 no-padding movie-media">
                  <div class="movie-media-title">
                    <p>Videos & Photos of</p>
                    <h2>{{movie.title}}</h2>
                  </div>
                  <div class="movie-media-list">
                    <div class="movie-media-list-title">
                       Videos
                    </div>
                    <ul class="movie-media-list-items flex-container flex-wrap">
                       <li *ngFor="let video of movie?.media?.videos">
                         <div class="video-container">
                           <iframe class="video-iframe"
                                   [src] = "sanitizer.bypassSecurityTrustResourceUrl(video.path)"
                                   frameborder="0"
                                   allow="accelerometer;
                                   autoplay; encrypted-media; gyroscope; picture-in-picture"
                                   allowfullscreen>
                           </iframe>
                         </div>
                         <p class="video-container-details">
                           {{video.videoName}}
                         </p>
                       </li>
                    </ul>
                  </div>
                <div class="movie-media-list">
                  <div class="movie-media-list-title">
                    Photos
                  </div>
                  <ul class="movie-media-list-images">
                    <li *ngFor="let image of movie?.media?.images">
                      <img [src]="image.path" class="responsive-img"/>
                    </li>
                  </ul>
                </div>
              </div>
            </p-tabPanel>
            <p-tabPanel header="Cast & Crew">
              <div class="ui-g-12 no-padding movie-cast">
                <div class="tab-item-title">
                  <p>Cast & Crew of</p>
                  <h2>{{movie.title}}</h2>
                </div>
                <div class="tab-item-list">
                  <div class="tab-item-list-title">
                    Directors
                  </div>
                  <ul class="movie-cast-list-items">
                    <li *ngFor="let director of movie?.directors" class="movie-cast-list-items-item flex-container space-between">
                      <div class="crew-info flex-container flex-align-center">
                          <div class="portrait" style="padding: 10px 10px;">
                              <img [src]="director.profilePath ? director.profilePath : 'http://fuuse.net/wp-content/uploads/2016/02/avatar-placeholder.png'" style="width: 60px; height: 60px;" class="responsive-img"/>
                          </div>
                          <a [routerLink]="['/director', '2']" class="no-text-decoration crew-link"><span class="staff-name">{{director.name}}</span></a>
                      </div>
                      <span class="staff-role">...Director</span>
                    </li>
                  </ul>
                </div>
                <div class="movie-cast-list">
                  <div class="movie-cast-list-title">
                    Cast
                  </div>
                  <ul class="movie-cast-list-items">
                    <li *ngFor="let cast of movie?.cast.slice(0, 10)" style="padding: 10px 0;"  class="movie-cast-list-items-item flex-container space-between">
                      <div class="crew-info flex-container flex-align-center">
                        <div class="portrait" style="padding-right: 10px;">
                          <img [src]="cast.profilePath ? cast.profilePath : 'http://fuuse.net/wp-content/uploads/2016/02/avatar-placeholder.png'" style="width: 60px; height: 60px;;" class="responsive-img"/>
                        </div>
                        <a [routerLink]="['/cast', '2']" class="no-text-decoration"><span class="staff-name crew-link">{{cast.name}}</span></a>
                      </div>
                      <span class="staff-role">...{{cast.persona}}</span>
                    </li>
                  </ul>
                </div>
                <div class="movie-cast-list">
                  <div class="movie-cast-list-title">
                    Crew
                  </div>
                  <ul class="movie-cast-list-items">
                    <li *ngFor="let crew of movie?.crew" style="padding: 10px 0;" class="movie-cast-list-items-item flex-container space-between">
                      <div class="crew-info flex-container flex-align-center">
                        <div class="portrait" style="margin: 10px 0; padding-right: 10px;">
                          <img [src]="crew.profilePath ? crew.profilePath : 'http://fuuse.net/wp-content/uploads/2016/02/avatar-placeholder.png'" style="width: 60px; height: 60px;" class="responsive-img"/>
                        </div>
                        <a [routerLink]="['/producer', '2']" class="no-text-decoration"><span class="staff-name crew-link">{{crew.name}}</span></a>
                      </div>
                      <span class="staff-role">...Crew</span>
                    </li>
                  </ul>
                </div>
              </div>
            </p-tabPanel>
          </p-tabView>
        </div>
    </div>
  </div>
</div>
