@import '../mixins/layout';
@import '../mixins/mixins';

.responsive-img {
  @include responsive-img;
}

.flex-container {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-start {
  justify-content: flex-start;
}

  .flex-wrap {
    flex-wrap: wrap;
  }

  .no-padding {
    padding: 0;
  }

  .text-center {
    text-align: center;
  }

  .centered-el {
    margin: 0 auto;
  }

  .full-width-flex-item {
    flex-grow: 1;
    flex-basis: 100%;
  }

  .red-btn {
    @include red-btn;
  }

  .uppercase {
    text-transform: uppercase;
  }


  .no-text-decoration {
    text-decoration: none;
  }

  .text-danger {
    color: red;
  }

  .text-warning {
    color: orange;
  }

  .text-info {
    color: dodgerblue;
  }

  .text-success {
    color: green;
  }

  .title {
    @include title;
  }

  .error-message {
    font-size: 12px;
    color: $red-1;
  }
