<!-- to do wrapper component -->
<div class="ui-g main-wrapper">
  <div class="image-layer"></div>
  <div class="ui-g-12 ui-g search-area">
    <h1 class="text-center ui-g-12">Popular celebrities</h1>
    <app-main-search></app-main-search>
  </div>
  <div class="ui-g-12 ui-g list-container no-padding">
    <p-dataView styleClass="data-view" [value]="celebrities" [paginator]="true" [rows]="10" paginatorPosition="bottom">
      <p-header>
        <div class="data-view-header-container">
          <div class="data-view-controls">
            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
          </div>
        </div>
      </p-header>
      <ng-template let-celebrity pTemplate="listItem">
          <div class="ui-g">
            <div class="ui-g-12 item no-padding flex-container flex-align-center">
              <div class="ui-g-12 ui-md-2 no-padding">
                <img [src]="celebrity.posterPath" (click)='onClickCelebrityDetails(celebrity.fullName)' class="responsive-img">
              </div>
              <div class="ui-g-12 ui-md-10 celebrity-details no-padding">
                <div class="ui-g">
                  <div class="ui-g-12">
                    <div class="item-title" (click)='onClickCelebrityDetails(celebrity.fullName)'><b>{{celebrity.fullName}}</b></div>
                    <div class="misc-details">
                        <span>{{celebrity.job}}, {{celebrity.countryOfResidence}}</span><br/><br/>
                        <span>{{celebrity.description.slice(0, 185) + '...'}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </ng-template>
      <ng-template let-celebrity pTemplate="gridItem">
        <div class="no-padding">
          <p-card>
            <div class="movie-card">
              <div class="movie-poster" style="height: 300px;">
                <img [src]="celebrity.posterPath" class="responsive-img" [alt]="celebrity.fullName" style="height: 100%">
              </div>
              <br/>
              <div class="item-details">
                  <a class="item-title no-text-decoration" [routerLink]="['/celebrity', celebrity.fullName]">{{celebrity.fullName}}</a><br/><br/>
                  <span>{{celebrity.job}}, {{celebrity.countryOfResidence}}</span>
              </div>
            </div>
          </p-card>
        </div>
      </ng-template>
    </p-dataView>
  </div>
</div>
