<p-dialog [appendTo]="'body'" (onHide)="onHide($event)" [closeOnEscape]="true" [dismissableMask]="true" [closable]="true" [header]="header" [styleClass]="'auth-modal'" [(visible)]="visible" [style]="{top: '5%'}" [modal]="true" [responsive]="true">
  <p-header>
    <h1>Sign Up</h1>
  </p-header>
  <form class="user-authentication-form" [formGroup]="form" (ngSubmit)="onSubmit(form)">
      <div class="form-group">
        <div class="ui-float-label">
          <input pInputText="" type="text" id="username" formControlName="username"/>
          <label for="username">Username: </label>
          <span class='error-message' *ngIf="form.controls['username'].hasError('required')&&form.controls['username'].touched">
              Username is required
          </span>
      </div>
      </div>
      <div class="form-group">
        <div class="ui-float-label">
          <input pInputText="" type="email" id="email" formControlName="email"/>
          <label for="email">Email: </label>
          <span class='error-message'  *ngIf="form.controls['email'].hasError('required')&&form.controls['email'].touched">
              Email field is required
          </span>
          <span class='error-message' *ngIf="form.controls['email'].hasError('email')&&form.controls['email'].touched">
            <i class="fa fa-close"></i>
            Incorrect email format
          </span>
        </div>
      </div>
      <div formGroupName='passwords'>
        <div class="form-group">
            <div class="ui-float-label">
                <input pInputText="" type="password" id="password" formControlName="password"/>
                <label for="password">Password </label>
                <span class='error-message' *ngIf="form.get('passwords').get('password').hasError('minlength') ||
                              form.get('passwords').get('password').hasError('pattern')">
                        Password must have at least length 6 and one number
                </span>
             </div>
        </div>
        <div class="form-group">
            <div class="ui-float-label">
                <input pInputText="" type="password" id="repeat-password" formControlName="repeatPassword"/>
                <label for="repeat-password">Repeat password: </label>
                <span class='error-message' *ngIf="form.get('passwords').hasError('missmatch')">
                    Passwords must be the same.
                </span>
              </div>
        </div>
      </div>
      <span class='error-message' *ngIf="!isRegisterCompleted" >
          Registration failed on server
      </span>
      <button type="submit" style="display: none;" #submitBtn></button>
  </form>
  <p-footer>
    <button pButton type="button" label="Sign Up" (click)="submitBtn.click()" class="ui-button-raised"></button>
  </p-footer>
</p-dialog>
