<div class="forms-container">
  <h2 class="form-section-title ui-g-12">Profile details</h2>
    <form [formGroup]="detailsForm">
      <div class="form-group ui-g-6 ui-sm-12">
        <span class="ui-float-label">
          <input id="username" formControlName="username" name="username" type="text" pInputText>
          <label for="username">Username</label>
        </span>
      </div>
      <div class="form-group ui-g-6 ui-sm-12">
              <span class="ui-float-label">
                <input id="email-address" formControlName="emailAddress" name="emailAddress" type="text" pInputText>
                <label for="email-address">Email</label>
              </span>
      </div>
    </form>
    <!-- <div class="form-group ui-g-6 ui-sm-12">
              <span class="ui-float-label">
                <input id="first-name" formControlName="firstName" name="firstName" type="text" pInputText>
                <label for="first-name">First Name</label>
              </span>
    </div>
    <div class="form-group ui-g-6 ui-sm-12">
              <span class="ui-float-label">
                <input id="last-name" formControlName="lastName" name="lastName" type="text" pInputText>
                <label for="last-name">Last Name</label>
              </span>
    </div>
    <div class="form-group ui-g-6 ui-sm-12">
      <p-dropdown id="country" formControlName="country" [styleClass]="'countries-list'" name="country" [options]="countries" editable="true" placeholder="Select a country"></p-dropdown>
    </div>
    <div class="form-group ui-g-6 ui-sm-12">
              <span class="ui-float-label">
                <input id="state" formControlName="state" name="state" type="text" pInputText>
                <label for="state">State</label>
              </span>
    </div>
    <div class="form-group ui-g-12 form-btn">
      <button pButton type="submit" class="ui-button-primary" label="Save"></button>
    </div> -->
  <h2 class="form-section-title ui-g-12">Change password</h2>
  <form [formGroup]="changePasswordForm" class="change-password-form ui-g-6 ui-sm-12" id="change-password-form" (ngSubmit)="onSubmit('changePasswordForm')">
    <div class="form-group ui-g-12">
              <span class="ui-float-label">
                  <input id="old-password" formControlName="oldPassword" name="oldPassword" type="password" pInputText>
                  <label for="old-password">Old password</label>
              </span>
    </div>
    <div class="form-group ui-g-12">
              <span class="ui-float-label">
                  <input id="new-password" formControlName="newPassword" name="newPassword" type="password" pInputText>
                  <label for="new-password">New password</label>
              </span>
    </div>
    <div class="form-group ui-g-12">
              <span class="ui-float-label">
                  <input id="confirm-new-password" formControlName="confirmNewPassword" name="confirmNewPassword" type="password" pInputText>
                  <label for="confirm-new-password">Confirm password</label>
              </span>
    </div>
    <div class="form-group ui-g-12 form-btn">
      <button pButton type="submit" class="ui-button-primary" label="Change password"></button>
    </div>
    <label>{{redirectMessage}}</label>
  </form>
</div>
