@import '../../../../../assets/sass/colors';
@import '../../../../../assets/sass/mixins/layout';
:host {
  @include red-btn;
  .ui-button {
    display: inline-block;
    width: 200px;
    border-radius: 8px;
  }
  .form-group {
    margin: 5px 0;
    .ui-inputtext {
      width: 100%;
      background-color: $blue-10;
      border: none;
      border-radius: 3px;
      padding: 10px 20px;
    }
  }

  /deep/ {
    .countries-list {
      width: 100% !important;
      .ui-dropdown-label {
        padding: 10px 5px;
        border-radius: 3px;
        text-transform: inherit;
      }
      /deep/ {
        .ui-dropdown-item {
          text-transform: initial;
        }
      }
    }
  }
}
